.leftAside{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  background: #2F4050;
}
.bigAside{
  width: 240px;
}
.smallAside{
  width: auto;
}

/* 顶部样式 */
.asideTop{
  padding: 0 0 0 24px;
  color: #A7B1C2;
}

.navShrink{
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 11;
}
.asideTop a{
}

/* .leftAside ul {
  background: #2F4050!important;
}
.leftAside ul span,.leftAside ul li,.leftAside ul div{
  font-size:16px!important;
} */
.list{
  width: 100%;
  height: 100%;
}
/* 覆盖列表选中的样式 */
.ant-menu.ant-menu-dark .ant-menu-item-selected{
  /* background-color: red!important;
  height:200px!important; */
}
.dividingLine{
  /* background-color: #455262!important; */
  /* margin-bottom: 15px!important; */
  /* margin-top: 5px!important; */
}